<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header id="index_header_sitename">
        
        <nav>
            <ul id="navoptions">
                <li id="about">
                    <a asp-controller="Doctor" asp-action="FeverCheck">Fever Check</a>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>

<footer> @(DateTime.Now.Year)</footer>
</body>



</html>
