<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header id="index_header_sitename">
                     
                    <a asp-controller="Doctor" asp-action="FeverCheck">Fever Check</a>

    </header>
    <div>
        @RenderBody()
    </div>

<footer> @(DateTime.Now.Year)</footer>
</body>



</html>
