@using MVC_Basics.Models



@{
    ViewData["Title"] = "Doctor";
}

<h1>@ViewData["Title"]</h1>



<form asp-action="SendTemp" method="post">
    <span>Your temperature in °C: </span>
    <input name="temp" type="number" step="any" required/>
      <input id= "Submit" type="submit" value="Submit">
    <input   id="reset"     type="reset"  value="Reset">
</form>

<div><p>@ViewBag.Message</p></div>