@using MVC_Basics.Models

@model TempModel

@{
    ViewData["Title"] = "Doctor";
}

<h1>@ViewData["Title"]</h1>


@using (Html.BeginForm("SendTemp", "Doctor", FormMethod.Post))
{
//<form asp-action="SendTemp" method="post">
    <span>Your temperature in °C: </span>
    <input asp-for="Temperature" type="number" step="any" required/>
      <input id= "Submit" type="submit" value="Submit">
    <input   id="reset"     type="reset"  value="Reset">
//</form>
}

