
@{
    ViewData["Title"] = "About";
}

<div id="About">
	<h1>About</h1>
	<h2>Curriculum Vitae</h2>
	<h3>Siavash Gosheh</h3>
	<h2>IT-KUNSKAPER </h2>
	<h3>Mjukvara:</h3>
	<p>Programspråk: C#, Lua, Java</p>
	<p>Operativsystem: Windows 7, 10, WSL, Ubuntu</p>
	<p>Webb: HTML, CSS, JavaScript, PHP, Node.js, SQL</p>
	<h2>Hårdvara:</h2>
	<p>Laptop/Desktop: Goda kunskaper i att installera/felsöka/underhålla/montera etc.</p>
	<p>Nätverk/Server: Goda kunskaper i att sätta upp/installera/felsöka etc.</p>
	<h2>UTBILDNING</h2>
	<h3>2022 -</h3>
	<h3>Pågående</h3>
	<p>Lexicon Yrkesutbildning i Väst</p>
	<h3>Kursinnehåll:</h3>
	<ul>
		<li>C#, Collections and Exceptions, OOP Unit-Testing, Inheritance and Polymorphism</li>
		<li>Introduktion HTML och CSS</li>
		<li>JavaScript</li>
		<li>ASP.NET MVC Introduktion</li>
		<li>MVC Data Management</li>
		<li>Entity Framework</li>
		<li>ASP.NET MVC Identity</li>
		<li>Azure</li>
		<li>React</li>
	</ul>
	<h3>2017 - 2018</h3>
	<p>Java Enterprise Development</p>
	<p>Yrgo</p>
	<h3>Kursinnehåll:</h3>
	<ul>
		<li>Objektorienterad Programmering</li>
		<li>Databaser</li>
		<li>Serverprogrammering</li>
		<li>Klientprogrammering</li>
		<li>Agila Metoder, Utvecklingsverktyg</li>
		<li>Designmönster, Systemintegration</li>
	</ul>
	<h3>2013 - 2015</h3>
	<p>Webbutveckling med inriktning i programmering </p>
	<p>Högskolan i Skövde</p>
	<h2>ARBETSLIVSERFARENHET</h2>
	<h3>2020 - 2021</h3>
	<p>Programmerare</p>
	<p>Tetiko</p>
	<p>Webbutveckling</p>
	<ul>
		<li>Webb, HTML, CSS, JavaScript, PHP</li>
		<li>WSL</li>
		<li>Node.js</li>
		<li>Highcharts.js</li>
		<li>Systemintegration</li>
	</ul>
	<p>Gjorde ritningar i LibreCAD och arbetade lite med 3d CAD.</p>
	<h3>2007 - 2008</h3>
	<p>Konsult</p>
	<p>Lernia Bemanning AB</p>
	<p>
		Arbetade på Volvo Personvagnar genom bemanningsföretaget Lernia.
		Montering på löpande bandet i Torslanda och med logistik på Volvo Bulycke.
	</p>
	<h2>SPRÅK         </h2>
	<ul>
		<li>Svenska, Modersmål</li>
		<li>Engelska, Mycket goda kunskaper i tal och skrift</li>
		<li>Persiska, Goda Kunskaper</li>
	</ul>

	<h2>PERSONLIGA EGENSKAPER </h2>
	<ul>
		<li>Nyfiken, lättsam personlighet</li>
		<li>Kan sitta i timmar utan avbrott för något som jag verkligen brinner för. </li>
		<li>Eftersträvar perfektion och ärlighet.</li>
	</ul>
		<h2>REFERENSER</h2>
		<p>Lämnas gärna vid förfrågan.</p>
</div>