
@{
    ViewData["Title"] = "Test";
}
<div id="Contact">
    <h1>Contact</h1>

    <h2>Kontakt information</h2>
    <h3>Födelsedatum: </h3>
    <h3>1985</h3>


    <h2>Adress:</h2>
    <p>Plantagegatan 8, 413 05, Göteborg</p>
    <h2>Mobil: </h2>
    <p>0765 54 26 16 </p>
    <p>LinkedIn: <a href="www.linkedin.com/in/siavash-gosheh">Siavash Gosheh</a></p>
    <h2>E-mail: </h2>
    <p>siavash.gosheh@gmail.com</p>
    <h2>GitHub: </h2>
    <p>https://github.com/Saravasha</p>
</div>