<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Front End Assignment 2 - Index</title>
    </head>
    
    <body>
        <div class="header_container">
            <header id="index_header_sitename">
                <h1>Sexiest ov the bords - Edgiest bird enthusiast homepage</h1>
            </header>
            <nav>
                <ul id="navoptions">
                    <li id="other_stuff">
                        <a href="">Other Stuff</a>
                    </li>
                    <li id="about">
                        <a href="">About</a>
                    </li>
                    <li id="connect">
                        <a href="">Connect</a>
                    </li>
                </ul>
            </nav>
            <div id="navlogin"><a href="login.html">Login</a></div>
        </div>
        <div class="index_container">
            <main>
                <article id="index_headline">
                    <h2>Headline - Zigi Plz</h2>
                    <p>Baby birds</p>
                </article>
                <article id="first_article">
                    <h3>Main Article Headline: This week in birdy history!.</h3>
                    <p>Ättuwäätuttuwää</p>
                    <p>I don't wanna!</p>
                    <p>F****** cat !¤"%!"¤5¤#!</p>
                    <p>mammjamjajmajamjaoatmeal?!</p>
                </article>

                <article id="second_article">
                    <h3>Article 1 Headline: Maxwell Bird Starter Pack wwwww</h3>
                    <p>Poopeeeeeeeey!?!</p>
                    <p> Gerpgork</p>
                    <p>It is time for you to go get your toenails done!</p>
                    <p>You better stop using words like that</p>
                </article>

                <article id="third_article">
                    <div>
                        <h3>Article 2 Headline: Surprise Content wwwwww</h3>
                        <p>You're not a sexy bird, you're a spoiled little brat!!!</p>
                        <p>Big mean bird! Whoah!!</p>
                        <img src="maxresdefault.jpg" alt="Sexy Bird" id="sexybord">
                    </div>
                </article>
            </main>
            <aside>
                <div class="sidebar">
                    <h3>Sidebar</h3>
                    <ul>
                        <li>
                            <h4>Afghanistan</h4>
                            <ol>
                                <li><p>Kabul 4.2M</p></li>
                                <li><p>Kandahar 614K</p></li>
                                <li><p>Herat 556K</p></li>
                            </ol>
                        </li>
                        <li>
                            <h4>Colombia</h4>
                            <ol>
                                <li><p>Bogotá 6.8M</p></li>
                                <li><p>Medellín 2.214M</p></li>
                                <li><p>Arauca 75K</p></li>
                            </ol>
                        </li>
                        <li>
                            <h4>The Netherlands</h4>
                            <ol>
                                <li><p>Amsterdam 741K</p></li>
                                <li><p>Utrecht 290K</p></li>
                                <li><p>Uden 34K</p></li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
            <footer class="footer">
                <span>
                    © Siavash Gosheh (This is a mockup, I am not claiming any ownership of the bird assets in the case of public use.)
                </span>
            </footer>
    </body>
</html>

