<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Front End Assignment 2 - Login</title>
    </head>

    <body>
        <div class="header_container">
            <header id="login_header_sitename">
                <h1>Birdlord</h1>

            </header>
            <nav>
                <ul id="navoptions">
                    <li id="other_stuff"><a href="">Gerpgork</a></li>
                    <li id="about"><a href="">Shamalashamala</a></li>
                    <li id="connect"><a href="" >Bingbong</a></li>
                </ul>
            </nav>
                <div id="navlogin"><a href="index.html">Index</a>
                </div>
        </div>
        <div class="login_container">
            <main id="login_main">
                <article id="login_headline">
                        <h2>User Login</h2>
                </article>
                <div id="login_form">
                    <form action="index.html">
                        <label for="username">User Name:</label><input type="text" name="username" id="username" value="">
                        <label for="password">Password:</label><input type="text" name="password" id="password" value="">
                        <input type="reset" value="Reset" id="reset">
                        <input type="submit" value="Sign In" id="submit">
                    </form>
                </div>
            </main>
        </div>
        <footer id="login_footer">
            <span>
                © Siavash Gosheh (This is a mockup, I am not claiming any ownership of the bird assets in the case of public use.)
            </span>
        </footer>
    </body>
</html>