
@{
    ViewData["Title"] = "Projects";
}

<div id="Projects">

<h1>Projects</h1>

    <ul>
        <li><a href="https://github.com/Saravasha/Front_End_Assignment_1">Front_End_Assignment_1</a></li>
        <li><a href="https://github.com/Saravasha/Vending-Machine">Vending-Machine</a></li>
        <li><a href="https://github.com/Saravasha/Hangman">Hangman</a></li>
    </ul>
</div>