@using MVC_Basics.Models
@{
    ViewData["Title"] = "Guessing Game";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="Game" asp-controller="GuessingGame" method="post">
    <span>Enter your guess between 1 and 100 </span>
    <input name="playerGuess" type="number" placeholder="Enter your Guess" required/> 
    <button class="btn btn-secondary" id="reset" type="reset" value="Reset">Reset</button>
    <button class="btn btn-primary" id="submit" type="submit" value="Guess">Guess!</button>    
</form>

@{
<div><p><pre>@ViewBag.Message</pre></p></div>
<div><p><pre>@ViewBag.numAttempts</pre></p></div>
<div><p><pre>@ViewBag.Highscore</pre></p></div>  
}



